.sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar li {
    color: #fff;
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid gray;
}

.sidebar li:hover {
    background-color: #534a4a;
    cursor: pointer;
}

.sidebar {
    height: calc(100vh - 66px);
    width: 200px;
    background-color: #736e6e;
}